<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text>
          <ion-text class="fw700">Student Card</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="justifyalign">
      <!-- General Information about Student Card -->
      <ion-item-divider class="dividercolor">
        <ion-card-title>Information about Student Card</ion-card-title>
      </ion-item-divider><br/>
      <p class="paragraphtextstyle">Your student ID is a multi-functional chip card that serves as identification and photocopying, the parking garage, and the canteen. You can recharge this card at the CUBE Canteen, to avail student discounted rates at Canteen and Photocopy machines.<br/><br/></p>
      <p class="paragraphtextstyle"><b><ion-icon slot="start" name="calendar" class="iconstyle"></ion-icon>When: </b></p>
      <p class="paragraphtextstyle paragraphpadding">One day after enrollment.<br/><br/></p>
      <p class="paragraphtextstyle"><b><ion-icon slot="start" name="pin" class="iconstyle"></ion-icon>Where: </b></p>
      <p class="paragraphtextstyle paragraphpadding">Ground Floor, Maria-Probst-Strasse 3</p>
    </ion-card-content>
  </ion-card>

</ion-content>
