<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text>
          <ion-text class="fw700">Semester Ticket</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-content class="justifyalign">
            
      <ion-item-divider class="dividercolor">
        <ion-card-title>Information about Semesterticket</ion-card-title>
      </ion-item-divider><br/>

      <!-- Genral Information about Semesterticket -->
      <p class="paragraphtextstyle">The Rhein-Neckar Region has an excellent local public transportation system, which students can avail inexpensively using the semester ticket. This ticket allows students to travel for free within the Rhein-Neckar Region.<br/><br/></p>
      
      <!-- Venue and Schedule to get Semesterticket -->
      <p class="paragraphtextstyle"><ion-icon slot="start" name="calendar" class="iconstyle"></ion-icon><b>When: </b></p>
      <p class="paragraphtextstyle paragraphpadding">After enrollment.<br/><br/></p>
      <p class="paragraphtextstyle"><ion-icon slot="start" name="pin" class="iconstyle"></ion-icon><b>Where: </b></p>
      <p class="paragraphtextstyle paragraphpadding">Ground Floor, Maria-Probst-Strasse 3 | Main Train Station (Hauptbahnhof) | Online on DB Website<br/><br/></p>
      <p class="paragraphtextstyle"><ion-icon slot="start" name="logo-euro" class="iconstyle"></ion-icon><b>Cost: </b></p>
      <p class="paragraphtextstyle paragraphpadding">EUR 170<br/><br/></p>
      <p class="paragraphtextstyle"><ion-icon slot="start" name="hourglass" class="iconstyle"></ion-icon><b>Validity: </b></p>
      <p class="paragraphtextstyle paragraphpadding">6 Months (1 Semester)</p>
    
    </ion-card-content>
  </ion-card>

</ion-content>
