@media screen and (max-width: 701px){
    ion-item{

        font-size: 6px;
        justify-content: flex-start;
        font-size-adjust: inherit;
    }

    ion-avatar {
        width: 10px;
        height: 10px;
    }

    img{
        //padding-right: 5px;
        width: 12px;
        height: 12px;
    }

    p{
        font-size: 12px;
        padding-right: 0px;
    }

    ion-card-title{
        font-size: 14px;
    }

    .detailsfontsize{
        font-size: 8px;
    }
}

.iconstyle{
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.paragraphpadding{
    padding-left: 0px;
}

// ion-img{
//     width: 100px;
//     height: 100px;
//     margin-top: 0px;
//     padding-top: 0px;
// }

ion-avatar {
    margin-top: 0px !important;
    width: 100px;
    height: 100px;
    img {
        width: 100px;
        height: 100px;
        display: block;
        margin-top: 0px;
    }

}