<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text>
        <ion-text class="fw700">International Office</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Information Section -->
  <ion-card>
    <ion-card-content class="justifyalign">
      <ion-item-divider class="dividercolor">
        <ion-card-title>Our International Office</ion-card-title>
      </ion-item-divider><br />
      <!-- General Information about International Office -->
      <p class="paragraphtextstyle">Activities international office</p><br />
      <ul>
        <li>
          <p>Contact person for international applicants, Acencies, general requests</p>
        </li>
        <li>
          <p>Planning and organisation of international week</p>
        </li>
        <li>
          <p>Completion of bilateral contracts for whole university</p>
        </li>
        <li>
          <p>Administration of third party (ERASMUS, PROMOS, BW-Studium)</p>
        </li>
        <li>
          <p>Distribution of conveying funds</p>
        </li>
        <li>
          <p>Weekly vote talk</p>
        </li>
        <li>
          <p>Maintenance Databases University cooperations inside university campus</p>
        </li>
        <li>
          <p>Apllication process for all erasmus exchange students</p>
        </li>
      </ul><br />

      <p class="paragraphtextstyle">Incoming (Students and professors)</p><br />
      <ul>
        <li>
          <p>admission test for all international applicants</p>
        </li>
        <li>
          <p>Reception and support of delegstions/visitors for whole university and rectors office</p>
        </li>
        <li>
          <p>Orientation sessions for international studetns</p>
        </li>
        <li>
          <p>Cafe international for international students</p>
        </li>
        <li>
          <p>Care and support during appartment search</p>
        </li>
        <li>
          <p>Coordination for lecturers rooms</p>
        </li>
      </ul><br />

      <p class="paragraphtextstyle">External representation</p>
      <ul>
        <li>
          <p>International conferences (EAIE, NAFSA, APAIE)</p>
        </li>
        <li>
          <p>National conferences (DAAD annual meeting, GATE network conference)</p>
        </li>
      </ul><br />


      <p class="paragraphtextstyle">The international office supports lecturers and students around all questions for
        international mobility. It offers e.g.</p>
      <ul>
        <li>
          <p>Realization of internationalization strategy</p>
        </li>
        <li>
          <p>Aquisition of new partner universities</p>
        </li>
        <li>
          <p>Information about partner universities in foreign countries</p>
        </li>
        <li>
          <p>Consultation according to semester abroad and internships abroad</p>
        </li>
        <li>
          <p>Management of the erasmus program, the DAAD funds and the Baden-Württemberg scholarship</p>
        </li>
        <li>
          <p>Orientation days for new international students multiple times per year</p>
        </li>
        <li>
          <p>Support for the international exchange students and full time students</p>
        </li>
        <li>
          <p>Support for the exchange students and degree seeking students during appartment search</p>
        </li>
        <li>
          <p>Visa-Service for international students and guest lecturers</p>
        </li>
        <li>
          <p>Support for foreign country visitors (Studentgroups, University delegates, Guest lecturers)</p>
        </li>
        <li>
          <p>Promotion of international lecturere exchange </p>
        </li>
        <li>
          <p>Execution of international projects for whole university (e.g. international week, summer schools, study
            abroad fair, etc...)</p>
        </li>
      </ul>
      <!-- Full Button for Appointment Navigation -->
      <ion-button expand="full" color="primary" (click)="goToAppointment()">
        <ion-icon slot="start" name="open"></ion-icon>
        Appointment
      </ion-button>


    </ion-card-content>
  </ion-card>


  <!-- Office Staff Details Section -->
  <ion-card>
    <ion-card-content class="justifyalign">
      <ion-item-divider class="dividercolor">
        <ion-card-title>Our International Staff</ion-card-title>
      </ion-item-divider><br />

      <!-- Details of Mrs. Pauley -->
      <ion-item no-padding>
        <ion-avatar slot="start">
          <img src="../assets/img/bettina.jpg">
        </ion-avatar>
        <ion-label class="paragraphpadding detailsfontsize">
          <h3><b>Bettina Pauley</b></h3>
          <p>Head of International Office<br />
            Dozentin Marketing (Fakultät für Wirtschaft)<br />
            SRH Hochschule Heideleberg<br />
            Room Arc 103,<br />
            Ludwig-Guttmann-Strasse 6,<br />
            69123, Heidelberg<br />
            <b>Tel: </b> +49 (0) 6221 88-1403</p>
        </ion-label>
      </ion-item>

      <!-- Details of Ms. Farrar -->
      <ion-item no-padding>
        <ion-avatar slot="start">
          <img src="../assets/img/steffi.jpeg">
        </ion-avatar>
        <ion-label class="paragraphpadding detailsfontsize">
          <h3><b>Stephanie Farrar</b></h3>
          <p>Verwaltung<br />
            International Office<br />
            International Marketing & Recruitment Manager<br />
            Länderbeauftragte USA<br />
            SRH Hochschule Heideleberg<br />
            Room Arc 103,<br />
            Ludwig-Guttmann-Strasse 6,<br />
            69123, Heidelberg<br />
            <b>Tel: </b> +49 (0) 6221 88-2005</p>
        </ion-label>
      </ion-item>

      <!-- Details of Ms. Loos -->
      <ion-item no-padding>
        <ion-avatar slot="start">
          <img src="../assets/img/anja.jpeg">
        </ion-avatar>
        <ion-label class="paragraphpadding detailsfontsize">
          <h3><b>Anja Loos</b></h3>
          <p>Verwaltung<br />
            International Office<br />
            International Student Coordinator<br />
            SRH Hochschule Heideleberg<br />
            Room Arc 103,<br />
            Ludwig-Guttmann-Strasse 6,<br />
            69123, Heidelberg<br />
            <b>Tel: </b> +49 (0) 62221 88-2459</p>
        </ion-label>
      </ion-item>

      <!-- Details of Mrs. Ulbrich -->
      <ion-item no-padding>
        <ion-avatar slot="start">
          <img src="../assets/img/ulbrich.jpg">
        </ion-avatar>
        <ion-label class="paragraphpadding detailsfontsize">
          <h3><b>Iris Ulbrich</b></h3>
          <p>Erasmus and Scholarships Coordinator<br />
            SRH Hochschule Heideleberg<br />
            Room Arc 104,<br />
            Ludwig-Guttmann-Strasse 6,<br />
            69123, Heidelberg<br />
            <b>Tel: </b> +49 (0) 6221 88-2480</p>
        </ion-label>
      </ion-item>


      <!-- Details of Ms. Blache -->
      <ion-item no-padding>
        <ion-avatar slot="start">
          <img src="../assets/img/marie.jpg">
        </ion-avatar>
        <ion-label class="paragraphpadding detailsfontsize">
          <h3><b>Marie Blache</b></h3>
          <p>Student Services<br />
            SRH Hochschule Heideleberg<br />
            Room Arc 101,<br />
            Ludwig-Guttmann-Strasse 6,<br />
            69123, Heidelberg<br />
            <b>Tel: </b> +49 (0) 6221 88-1095</p>
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>