<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text>
          <ion-text class="fw700">Accommodation</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Content for General Information -->
  <ion-card class="cardbg cardwidth">
    <ion-card-content class="justifyalign">
      <ion-item-divider class="dividercolor">
        <ion-card-title>General Information</ion-card-title>
      </ion-item-divider>      
      <p class="paragraphtextstyle"><br/>Students in Germany either live in a student hall of residence or in private accommodation. In contrast to other countries, German universities do not automatically allocate rooms to students when they enroll. <b>This means that even international students are responsible for finding their own accommodation</b>.</p><br/><br/>    
    </ion-card-content>
  </ion-card>

  <!-- Content for Dorms on Campus -->
  <ion-card class="cardbg cardwidth">
    <ion-card-content class="justifyalign">
      <ion-item-divider class="dividercolor">
        <ion-card-title>Dorms on Campus</ion-card-title>
      </ion-item-divider>
      <p class="paragraphtextstyle"><br/>There are several dorms on campus, furnished with a bed, mattress, desk, chair, bookshelf, and wardrobe. Some have private bathrooms and some have shared kitchens. Please bring bedding and pillows with you or buy it at the International Office. Following Dorms are available on campus :<br/></p>
      <ol>
        <li><b><p>Maria-Probst-Strasse 3</p></b></li>
          <ul type="square">
            <li><p>Single Rooms - EUR 400</p></li>
            <li><p>Double Shared Rooms - EUR 350</p></li>
          </ul>
        <li><b><p>Bonhoefferstrasse 9</p></b></li>
          <ul type="square">
            <li><p>Single Rooms with Balcony – EUR 560</p></li>
            <li><p>Single Rooms without Balcony – EUR 430</p></li>
          </ul>
        <li><b><p>Bonhoefferstrasse 13</p></b></li>
          <ul type="square">
            <li><p>Single Rooms - EUR 230</p></li>
            <li><p>Single Rooms Large - EUR 280</p></li>
          </ul>
      </ol>
      <p class="paragraphtextstyle"><br/>Contracts for these dorms range from 6 months to 12 months.</p>    
    </ion-card-content>
  </ion-card>

  <!-- Content for short term hostels -->
  <ion-card class="cardbg cardwidth">
    <ion-card-content class="justifyalign">
      <ion-item-divider class="dividercolor">
        <ion-card-title>Short Term Hostels</ion-card-title>
      </ion-item-divider>
      <p class="paragraphtextstyle"><br/>If you arrive in Heidelberg before you can move into your dorm, try to book a room in one of the following hostels for a couple of nights (€ 20 – 30 per night):<br/></p>
      <ul>
        <li><p>Steffis Hostel</p></li>
        <li><p>Youth Hostel Heideberg</p></li>
        <li><p>Lottes Backpacker Hostel</p></li>
        <li><p>Eazy Hostel</p></li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Content for Shared Apartment -->
  <ion-card class="cardbg cardwidth">
    <ion-card-content class="justifyalign">
      <ion-item-divider class="dividercolor">
        <ion-card-title>Shared Apartment</ion-card-title>
      </ion-item-divider>
      <p class="paragraphtextstyle"><br/>A reasonable rate to expect for a room in private lodgings or in a shared flat or house off campus is between € 200 and € 500 a month. In a shared flat, everyone has their own room. Kitchen and bathroom as well as other utility rooms are shared, as the costs for the rent, electricity, gas, water, Internet, etc. This arrangement certainly works out cheaper than living alone. In most cases, tenancy contracts must be signed in person at the location itself.<br/></p>    
    </ion-card-content>
  </ion-card>

</ion-content>
