<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text>
          <ion-text class="fw700">Enrollment</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardbg">
    <!-- Content for enrollment general information -->
    <ion-card-content class="justifyalign">
      <ion-item-divider class="dividercolor">
        <ion-card-title>Enrollment Information</ion-card-title>
      </ion-item-divider>
      <p class="paragraphtextstyle"><br/>You have to be in person to enroll at SRH Hochschule Heidelberg. Please bring along the following documents:<br/></p>
      <ul>
        <li><p>Your notification of admission.</p></li>
        <li><p>Originals of: Secondary School Leaving Certificate, University Degree Certificate (If Applicable).</p></li>
        <li><p>Passport with Visa.</p></li>
      </ul>

      <!-- Content for Enrollment Venue and Schedule -->
      <p class="paragraphtextstyle"><br/><ion-icon slot="start" name="calendar" class="iconstyle"></ion-icon><b>When: </b><br/></p>
      <p class="paragraphtextstyle paragraphpadding">After your arrival.</p>
      <p class="paragraphtextstyle"><br/><ion-icon slot="start" name="pin" class="iconstyle"></ion-icon><b>Where: </b><br/></p>
      <p class="paragraphtextstyle paragraphpadding">Student’s Services , Ludwig-Guttmann-Strasse 6</p>
      <p class="paragraphtextstyle"><br/><ion-icon slot="start" name="clock" class="iconstyle"></ion-icon><b>Timings: </b><br/></p>
      <p class="paragraphtextstyle paragraphpadding">Monday – Thursday | 09:00 – 16:00</p>
      <p class="paragraphtextstyle paragraphpadding">Friday | 09:00 - 12:00</p>
    </ion-card-content>
  </ion-card>

</ion-content>
