<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text>
          <ion-text class="fw700">Wlan Access</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardbg">
    <ion-card-content class="justifyalign">
      <!-- Information about Campus WLAN Access -->
      <ion-item-divider class="dividercolor">
        <ion-card-title>WLAN Access Information</ion-card-title>
      </ion-item-divider><br/>
      <p class="paragraphtextstyle"><br/>To access the Eduroam Network and University WLAN, you must be enrolled and have you matriculation number at hand. To connect, follow the given steps:<br/></p>
      <ol>
        <p><li>Search for <b>‘Eduroam’</b> or <b>‘wlanfh1x’</b> network and select either of them.</li></p>
        <p><li>Enter your username and password:</li></p>
          <dd><p><b>Username:</b> your_matriculation_number@stud.hochschule-heidelberg.de</p></dd>
          <dd><p><b>Password:</b> The password associated with your SRH HSHD Account.</p></dd>
        <p><li>Click on <b>“Connect”</b> and you can access the internet.</li></p>
      </ol>
      <p class="paragraphtextstyle"><br/><b>NOTE:</b> You can access the <b>Eduroam</b> network in any University campus, all over Europe.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
