<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text>
          <ion-text class="fw700">Bank</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="justifyalign">

      <!-- General Information about bank account -->
      <p><ion-item-divider class="dividercolor">
        <ion-card-title>Information about Bank Account</ion-card-title>
      </ion-item-divider><br/><br/></p>
      <p class="paragraphtextstyle">A bank account must be opened in person after you arrive in Germany. Normally you will need the following documents to open an account:</p>
      <ul>
        <li><p>Passport or similar identification document</p> </li>
        <li><p>Confirmation of residency (Meldebescheinigung) from the city in which you live (or a rental contract, reservation confirmation from a landlord or at least your address for the first few days in Germany)</p> </li>
        <li><p>Confirmation from your institute or a similar letter from the University stating that you will be living here for more than 3 months and confirming your status as a visiting scholar at Heidelberg University.</p></li>
      </ul><br/>

      </ion-card-content>
  </ion-card>

      <ion-card>
        <ion-card-content class="justifyalign">

      <ion-item-divider class="dividercolor">
          <ion-card-title>Our Partners</ion-card-title>
        </ion-item-divider>
      <!-- List of available bank options -->
      <ion-list>

        <ion-item>
          <ion-img src="../../../assets/img/sparkasse.png" slot="start" class="imgstyle"></ion-img>
          <ion-label class="cardwidth"><p><b>Sparkasse Heidelberg</b></p>
            <p>Wallstraße 23a,<br/>
            69123, Heidelberg,<br/>
            Heidelberg</p>
          </ion-label>
        </ion-item>

        <ion-item class="cardwidth">
          <ion-img src="../../../assets/img/volksbank.png" slot="start" class="imgstyle"></ion-img>
          <ion-label><p><b>Volksbank</b></p>
            <p>Adenauerplatz 1,<br/>
            69115, Heidelberg,<br/>
            Weststadt</p>
          </ion-label>
        </ion-item>

      </ion-list>

      <!-- Full Button for Appointment Navigation -->
      <ion-button expand="full" color="primary" (click)="goToAppointment()">
        <ion-icon slot="start" name="open"></ion-icon>
        Appointment
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
