<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-back-button color="light" visible></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- LOGO About Us -->
  <div class="bg-profile" text-center padding>
    <img src="assets/img/aboutuslogo.png">
  </div>

  <!-- Team Members -->
  <div text-center padding>
    
    <ion-list class="members">
        <ion-list-header color="light">
            <ion-label class="fw700">Team Members</ion-label>
        </ion-list-header>
  
        <ion-item margin-bottom>
          
            <ion-avatar slot="start" class="team-avatar">
              <img src="assets/img/ash.jpg" >
            </ion-avatar>
            <ion-label>
              <strong style="float: left;">Ashkan Es Haghi</strong><strong style="margin-left: 30px;float: left;font-weight: lighter;">Frontend Developer</strong>
            </ion-label>
            
          </ion-item>

          <ion-item margin-bottom>
          
            <ion-avatar slot="start" class="team-avatar">
              <img src="assets/img/alex.jpg">
            </ion-avatar>
            <ion-label>
              <strong style="float: left;">Alexander Grissinger</strong><strong style="margin-left: 30px;float: left;font-weight: lighter;">Backend Developer</strong>
            </ion-label>
            
          </ion-item>

          <ion-item margin-bottom>
        
            <ion-avatar slot="start" class="team-avatar">
              <img src="assets/img/muddassir.jpg">
            </ion-avatar>
            <ion-label>
              <strong style="float: left;">Muddassir Hussain</strong><strong style="margin-left: 30px;float: left;font-weight: lighter;">Backend Developer</strong>
            </ion-label>
            
          </ion-item>
          <ion-item margin-bottom>
          
            <ion-avatar slot="start" class="team-avatar">
              <img src="assets/img/himanshu.jpg">
            </ion-avatar>
            <ion-label>
              <strong style="float: left;">Himashu Sharma</strong><strong style="margin-left: 30px;float: left;font-weight: lighter;">Frontend Developer</strong>
            </ion-label>
            
          </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
          <ion-label><strong>© 2019 helpUdesk All Rights Reserved</strong></ion-label>
      </ion-list-header>
    </ion-list>

  </div>

</ion-content>
