<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content>
       <img src="assets/img/male.jpg">
      <h1 class="fw500">First Middle Last<ion-icon style="margin-left:10px" [color]="decision ? 'secondary' : 'tertiary'" [name]="decision ? 'checkmark-circle' :'information-circle'"></ion-icon></h1>
      <h2 color="light" margin-bottom>Student</h2>
      <ion-button icon-left color="secondary" (click)="changeStatus()" >
        <ion-icon name="photos"></ion-icon> 
        Edit / Add Avatar
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">General Information</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Full Name:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: Ashkan Es Haghi" value="First Middle Last"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: example@example.com" value="11111111@stud.hochschule-heidelberg.de"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Address:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: MPS 3"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark">City</ion-label>
              <ion-select>
                <ion-select-option value="nes">Heidelberg</ion-select-option>
                <ion-select-option value="nes">New York</ion-select-option>
                <ion-select-option value="n64">Los Angeles</ion-select-option>
                <ion-select-option value="ps">London</ion-select-option>
                <ion-select-option value="genesis">Paris</ion-select-option>
                <ion-select-option value="saturn">São Paulo</ion-select-option>
                <ion-select-option value="snes">Tokyo</ion-select-option>
                <ion-select-option value="snes">New Delhi</ion-select-option>
              </ion-select>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark">State</ion-label>
              <ion-select>
                <ion-select-option value="nes">HD</ion-select-option>
                <ion-select-option value="nes">NY</ion-select-option>
                <ion-select-option value="n64">CA</ion-select-option>
                <ion-select-option value="ps">Greater London</ion-select-option>
                <ion-select-option value="genesis">Paris</ion-select-option>
                <ion-select-option value="saturn">SP</ion-select-option>
                <ion-select-option value="snes">Kantō</ion-select-option>
                <ion-select-option value="snes">Delhi</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-radio-group>
              <ion-list-header color="light">
                <ion-label class="fw700">User Type</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label color="primary">Student</ion-label>
                <ion-radio slot="start" value="Student" checked></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label color="primary">Nationality</ion-label>
                <ion-radio slot="start" value="Nationality"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item>
              <ion-label class="text-1x">Checkbox test</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Save</ion-button>
  </ion-card>
  
</ion-content>
