
   <ion-tabs>

    <ion-tab-bar slot="bottom" class="tabsdecorating">
      <ion-tab-button tab="dashboard">
        <ion-icon name="speedometer"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="generalinfo">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>General Information</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="enrollment">
        <ion-icon name="create"></ion-icon>
        <ion-label>Enrollment</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="accommodation">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accommodation</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="city-registeration">
        <ion-icon name="map"></ion-icon>
        <ion-label>City Registeration</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bank">
        <ion-icon name="business"></ion-icon>
        <ion-label>Bank</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="student-card">
        <ion-icon name="card"></ion-icon>
        <ion-label>Student Card</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="semester-ticket">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label>Semester Ticket</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="wlan-access">
        <ion-icon name="wifi"></ion-icon>
        <ion-label>Wlan Access</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="code-of-conduct">
        <ion-icon name="paper"></ion-icon>
        <ion-label>Code of Conduct</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="international-office">
        <ion-icon name="business"></ion-icon>
        <ion-label>International Office</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  
  </ion-tabs>
  