<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text>
          <ion-text class="fw700">General Information</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Information Section -->
  <ion-card>
    <ion-card-content class="justifyalign">                
      <ion-item-divider class="dividercolor">
        <ion-card-title>University Information</ion-card-title>
      </ion-item-divider><br/>

      <!-- University Information -->
      <p class="paragraphtextstyle">In one of Germany's most beautiful cities, we think and live a new university. Our innovative study model based on the CORE principle goes beyond mere knowledge transfer, because we focus on competence-oriented learning. We consistently align learning objectives, teaching and forms of examination with later professional life, so that you can acquire exactly those professional, methodological and social skills that are needed on the job market today.</p><br/>
      
      
      <!-- Degree Program Information -->
      <ion-item-divider class="dividercolor">
        <ion-card-title>Our Programs</ion-card-title>
      </ion-item-divider><br/>

      <!-- Bachelor's Programs -->
      <ion-card-title>Bachelor's Programs</ion-card-title><br/>
      <ol>
        <li><p><b>Faculty of Information, Media and Design</b></p></li>
        <ul>
          <li><p>Computer Science Film (B.Sc.)</p></li>
          <li><p>Game Development (B.Sc.)</p></li>
          <li><p>Virtual and Augmented Realities (B.Sc.)</p></li>
          <li><p>Business Computer Science (B.Sc.)</p></li>
          <li><p>Crossmedia Design (BA)</p></li>
          <li><p>Media and Communication Management (BA)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Psychology</b></p></li>
        <ul>
          <li><p>Health Psychology (B.Sc.)</p></li>
          <li><p>Psychology (B.Sc.)</p></li>
          <li><p>Business Psychology (B.Sc.)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Law</b></p></li>
        <ul>
          <li><p>Business Law – Study of Labor and Social Law (LL.B.)</p></li>
          <li><p>Business Law (LL.B.)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Social</b></p></li>
        <ul>
          <li><p>Childhood Education (BA)</p></li>
          <li><p>Social Work (BA)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Technology and Construction</b></p></li>
        <ul>
          <li><p>Architecture (BA)</p></li>
          <li><p>Electrical Engineering (B.Eng.)</p></li>
          <li><p>Real Estate and Facility Management (B.Eng.)</p></li>
          <li><p>Mechanical Engineering (B.Eng.)</p></li>
          <li><p>Industrial Engineering (B.Eng.)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Therapy</b></p></li>
        <ul>
          <li><p>Occupational Therapy (B.Sc.)</p></li>
          <li><p>Physical Therapy (B.Sc.)</p></li>
          <li><p>Music Therapy (BA)</p></li>
        </ul>
        <li><p><b>Faculty of Economy</b></p></li>
        <ul>
          <li><p>International Business – Watersports Management (BA)</p></li>
          <li><p>Business Management (BA)</p></li>
          <li><p>Business Administration – Automotive Management (BA)</p></li>
          <li><p>Business Administration – Financial Management (BA)</p></li>
          <li><p>Business Administration – Human Resource Management (BA)</p></li>
          <li><p>Business Administration – Marketing Management (BA)</p></li>
          <li><p>Business Administration – Restructuring and Restructuring Management (BA)</p></li>
          <li><p>Business Administration – Sports and Event Management (BA)</p></li>
          <li><p>Business Administration – Supply Chain Management (BA)</p></li>
          <li><p>Business Administration –Fashion Management (BA)</p></li>
          <li><p>Business Administration – Watersports Management (BA)</p></li>
          <li><p>International Business (BA)</p></li>
        </ul><br/>
      </ol><br/>

      <!-- Master's Programs -->
      <ion-card-title>Master's Programs</ion-card-title><br/>
      <ol>
        <li><p><b>Faculty of Information, Media and Design</b></p></li>
        <ul>
          <li><p>Applied Computer Science (M.Sc.)</p></li>
          <li><p>Big Data and Business Analytics (M.Sc.)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Psychology</b></p></li>
        <ul>
          <li><p>Psychology – Major in Sports Psychology (M.Sc.)</p></li>
          <li><p>Psychology – Focus on Personal Psychology (M.Sc.)</p></li>
          <li><p>Psychology – Focus on Neuropsychology (M.Sc.)</p></li>
          <li><p>Psychology – Focus on Legal Psychology (M.Sc.)</p></li>
          <li><p>Psychology – Focus on Health Psychology (M.Sc.)</p></li>
        </ul><br/>
        <li><p><b>Faculty Of Law</b></p></li>
        <ul>
          <li><p>International and Comparative Business Law (LL.M.)</p></li>
          <li><p>International Business and Corporate Law (LL.M.)</p></li>
          <li><p>Social Law (LL.M.)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Social</b></p></li>
        <ul>
          <li><p>Social Work – Psychosocial Counselling and Health Promotion (MA)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Technology and Construction</b></p></li>
        <ul>
          <li><p>Architecture (MA)</p></li>
          <li><p>Information Technology (M.Eng.)</p></li>
          <li><p>International Business and Engineering (M.Eng.)</p></li>
          <li><p>Project Management Construction (M.Eng.)</p></li>
          <li><p>Water Technology (M.Eng.)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Therapy</b></p></li>
        <ul>
          <li><p>Therapy Sciences (M.Sc.)</p></li>
          <li><p>Music Therapy (MA)</p></li>
          <li><p>Dance and Exercise Therapy (MA)</p></li>
        </ul><br/>
        <li><p><b>Faculty of Economy</b></p></li>
        <ul>
          <li><p>MBA Sales Management  (MBA)</p></li>
          <li><p>General Management and Leadership (MA)</p></li>
          <li><p>International Management and Leadership (MA)</p></li>
          <li><p>International Management and Entrepreneurship (MA)</p></li>
          <li><p>Management and Leadership (MA)</p></li>
        </ul>
      </ol><br/><br/>

      <!-- Contact Information -->
      <ion-item-divider class="dividercolor">
        <ion-card-title>Contact</ion-card-title>
      </ion-item-divider><br/>
      <p><b><ion-icon slot="start" name="pin" class="iconstyle"></ion-icon>Address: </b><br/>Ludwig-Guttmann-Strasse 6,<br/>69123, Heidelberg, Germany</p><br/>      
      <p><b><ion-icon slot="start" name="call" class="iconstyle"></ion-icon>Phone: </b><br/>+49 6221 88-1000</p>

    </ion-card-content>
  </ion-card>

</ion-content>

